html, body {
  line-height: 5;
  font-size: 14px;
  font-family: Gill Sans;
  color: #00cc00;
  background-color: black;
  margin: 0;
  word-break: break-word;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.recipe:before {
  content: "📼";
}
